* {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin: 10px;
  width: fit-content;
}

form {
  background: lightgray;
  border: 1px solid black;
}

input {
  clear: both;
  display: inherit;
  float: initial;
  font-weight: 300;
  border-radius: 10px;
  background: white;
}

input:focus {
  border-radius: 10px;
  outline: none;
}
