/* for BPMN.html */

/* Diagram and palette area */

#myDiagram {
  float: left;
  border: solid 1px gray;
  border-left: none;
  width: 76%;
  height: 700px;
  background-color: white;
}

#description {
  float: left;
  margin-left: 4px;
}

#PaletteAndDiagram {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#sideBar {
  float: left;
  width: 23%;
  min-height: 500px;
  text-align: center;
  border: 1px solid gray;
}

#myPalette {
  width: 100%;
  min-height: 625px;
}

#myOverview {
  width: 100%;
  height: 225px;
}

/* top bar area */

#menuBar {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  width: auto;
}

#menuBar ul {
  background: #ededed;
  height: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#menuBar li {
  float: left;
  padding: 0px;
}

#menuBar li a {
  background: #ededed;
  display: block;
  font-weight: normal;
  line-height: 25px;
  margin: 0px;
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
}

#menuBar > ul > li > a {
  color: black;
}

#menuBar ul ul a {
  color: black;
}

#menuBar li > a:hover,
#menuBar ul li:hover > a {
  background: #007FFF;
  color: white;
  text-decoration: none;
}

#menuBar li ul {
  background: #9CCB19;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 150px;
  z-index: 200;
}

#menuBar li:hover ul {
  display: block;
}

#menuBar li li {
  background: #ededed;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 150px;
}

#menuBar li:hover li a {
  background: none;
}

#menuBar li ul a {
  display: block;
  height: 25px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}

#menuBar li ul a:hover,
#menuBar li ul li:hover > a {
  background: #007FFF;
  border: 0px;
  color: white;
  text-decoration: none;
}

/*sub-sublist*/
#nav li:hover ul ul {
  display: none;
}

#nav li li:hover ul {
  background: #9CCB19;
  margin-left: 150px;
  margin-top: -25px;
  display: block;
}
/*sub-sub-sublist*/
#nav li li:hover ul ul {
  display: none;
}

#nav li li li:hover ul {
  background: #9CCB19;
  margin-left: 150px;
  margin-top: -25px;
  display: block;
  color: #0276FD;
}

input {
  text-align: center;
  font-size: large;
  float: left;
}

#myOverview {
  background-color: lightgray;
}

#currentFile {
  background: #1874CD;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0px;
  color: white;
}

.draggable {
  display: inline-block;
  vertical-align: top;
  border: 1px solid gray;
  background-color: #e2e2e2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 200px;
  z-index: 500;
}

.handle {
  background-color: #9CCB19;
  text-align: center;
  font: bold 12px sans-serif;
}

.elementText {
  font-family: Arial;
  font-size: medium;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mySavedFiles {
  font-family: Arial;
  font-size: medium;
  width: 250px;
  margin-left: 25px;
}

.elementBtn {
  margin-top: 20px;
  font-family: Arial;
  font-size: medium;
  margin-left: 20px;
}
