/* for BPMN.html */

/* Diagram and palette area */

#myDiagramDiv {
  float: left;
  border: solid 1px gray;
  border-left: none;
  width: 84%;
  height: 700px;
  background-color: white;
}

#description {
  float: left;
  margin-left: 4px;
}

#PaletteAndDiagram {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#sideBar {
  float: left;
  width: 15%;
  min-height: 500px;
  text-align: center;
  border: 1px solid gray;
}

.myPaletteDiv {
  width: 100%;
  min-height: 625px;
}

#accordion {
  margin: 0px; 
  width: 97%;
  min-height: 625px;
}

#myOverviewDiv {
  width: 100%;
  height: 225px;
}

/* top bar area */

.ui-accordion .ui-accordion-content {
  padding: 1px;
}
.ui-menu {
  width: 120px;
}
#menuui {
  height: 30px;
  width: 100%;   
}
#menuui > li {
   float: left;  
}    


input {
  text-align: center;
  font-size: large;
  float: left;
}

#myOverviewDiv {
  background-color: lightgray;
}

#currentFile {
  background: #1874CD;
  width: 100%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0px;
  color: white;
}

.draggable {
  display: inline-block;
  vertical-align: top;
  border: 1px solid gray;
  background-color: #e2e2e2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 200px;
  z-index: 500;
}

.handle {
  background-color: #9CCB19;
  text-align: center;
  font: bold 12px sans-serif;
}

.elementText {
  font-family: Arial;
  font-size: medium;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mySavedFiles {
  font-family: Arial;
  font-size: medium;
  width: 250px;
  margin-left: 25px;
}

.elementBtn {
  margin-top: 20px;
  font-family: Arial;
  font-size: medium;
  margin-left: 20px;
}

/* sample thumbnails bottom area */

figure {
      display: inline-block; 
      margin: 10px;
  }    
