/*
  Default CSS for the Node inspector
  see also: inspector.js, inspector.html
*/

  .inspector-container {
    color: #FDFDFD;
    background-color: #272625;
    width: 240px;
    padding: 2px;
    height: 620px;
    font-family: helvetica;
  }

  .make-inline {
    display: inline;
  }

  .inspector {
    margin: 2px;

    font: 12px helvetica, sans-serif;

    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -ms-user-select: none;
    cursor: default;
  }


  .inspector-container select {
    border: 0px;
    width: 100%;
    color: black;
    font-size: 13.3333px;
  }

  .inspector input {
    background-color: #202020;
    color: #F5F5F5;
    border: 0px;
  }
  .inspector input:focus {
    color: #FDFDFD;
  }

  .inspector input:disabled {
      color: #7B7B7B;; /* gray-blue */
  }

  .inspector select {
    background-color: #202020;
    color: #F5F5F5;
    border: 0px;
  }
  .inspector select:focus {
    color: #FDFDFD;
  }

  .row {
    margin-bottom: 2px;
  }

  .cell {
    display: inline-block;
    width: 50%;
    text-align: right;
  }

  .right-align {
    text-align: right;
  }

  .input-short {
    width: 40px;
    text-indent: 1px;
    text-align: center;
  }

  .input-long {
    width: 50%;
    text-indent: 4px;
    text-align: right;
  }

  .inspector-nullable input[type=text]{
    width: 165px;
  }

  .inspector-n-field-label {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .inspector-button-container {
    margin: 6px;
    text-align: center;
  }

  .inspector-button-container input {
    margin: 2px;
    font-size: 100%;
    color: black;
  }

  .inspector-group {
    padding: 1px 3px 1px 3px;
    /*border: 1px solid red; /* DEBUG */
    border-top: 2px solid #272625; /* dark gray */
  }

  .inspector-group select {
    width: 50%;
  }

  .inspector-group label {
    font-weight: normal;
    margin-bottom: 0px;
  }

  .inspector-group input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
  }

  .inspector-group .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .inspector-section {
    background-color: #333;
  }

  .inspector-section h3 {
    font-weight: bold;
    line-height: normal;
  }

  .inspector-container h3, .inspector-container h2 {
    background-color: #272625;
    padding: 1px;
    margin: 0;
  }

  .inspector-container h3 {
    font-size: 14px;
    margin-top: 2px;
  }

  .inspector-container h2 {
    font-size: 18px;
  }

  label.property-name {
    width: 95px;
    margin-right: 5px;
    font-weight: bold;
    display: inline-block;
    text-align: right;

  }

  .spectrum-control {
    border: 0px;
    background: none;
  }
