/* But not for the API's container-fluid */
#api-container {
  max-width: none;
}
/* overrides main.css */
p {
  font-size: 100%;
  line-height: normal;
}

pre {
  white-space: pre-wrap;
}

.fineprint
{
  float: right;
  margin-right: 2em;
  font-size: .7em;
}

/* eg Group "Extends Node" */
span.extends
{
  display: block;
  margin-bottom: 1em;
}

.light {
  color: #777;
  font-style: italic;
}

.detailList dt {
  font-weight: normal;
}
dt.heading {
  font-weight: 700;
}

.since {
  border-radius:4px 4px 4px 4px;
  padding: 2px;
  /*margin-left: 1em;*/
  background: #DDD;
  color: #444;
}


.seealso {
  display: block; margin-left: 10px; margin-top: .5em;
}
ul.seealsolist { display: inline; list-style: none; margin: 0; padding: 0; }
ul.seealsolist li { display: inline; }
ul.seealsolist li:after { content: ","; }
ul.seealsolist li:last-child:after { content: ""; }

span.nodetails
{
  display:none;
}

.box, .boxrun, .boxread {
  border: 1px solid #BBB;
  padding: .6em;
  background: #f4f4fa;
}

.classList {
  width: 100%;
  margin: 0;
}

.morelink {
  background: #E6E6F7;
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

/* make table fit small screens */
@media (max-width: 767px) {
  td.attributes {
    max-width: 140px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  td.name {
    max-width: 120px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  td.description {

  }
}
@media screen and (max-width: 767px) {
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>td,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>thead>tr>th {
    white-space: normal;
}
}

