/*-- set border box on all elements inside the grid*/
.grid-container * {box-sizing: border-box;}

.row:before, .row::after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	min-height: 1px;
	width: 16.66%;
	padding: 0px;
}

.col-1 {width: 100%;}
.col-2 {width: 50%;}
.col-3 {width: 33.33%;}
.col-4 {width: 25%;}
.col-5 {width: 20%;}
.col-6 {width: 16.66%;}

input{
	padding: 0px;
	border: 1px solid gray;
}
	.unitsBox{ /*A special input that displays units*/
		text-align: center;
		width: 20px;
		border: 1px solid gray;
		border-left: 0px;
		float: left;
	}

#wallThicknessInput, #gridSizeInput, #unitsConversionFactorInput {
	width: 50px; 
	float: left;
	border-right: 0px;
}
#gridSizeInput, #unitsConversionFactorInput { 
	margin-left: 10%; 
}
	#wallThicknesshUnitsInput, #gridSizeUnitsInput{
		float: left;
	}

.unitsInput {
	float: left;
	border-right: 0px;
}

#optionsWindow {
	height: unset;
	width: unset;
}